<div class="{{ classes|raw }} mb-3" {{ attributes|raw }} {% if field.visuallyHidden %}display="none"{% endif %}>
    {% block label %}
        {% if not field.labelHidden %}
            <label class="field-label font-weight-bold" {% if field.labelVisuallyHidden %}display="none"{% endif %}>
                {{ field.name }}
            </label>
        {% endif %}
    {% endblock %}

    <div class="field-content">
        {% block content %}
            {{ value }}
        {% endblock %}
    </div>
</div>