{% extends "fields/_field" %}

{% macro render(asset, options) %}
    {{ craft.themes.view.renderAsset(asset, options.getDisplayerForKind(asset.kind))|raw }}
{% endmacro %}

{% block content %}
    {% if value|length %}
        {% if value|length == 1 %}
            {{ _self.render(value.0, options) }}
        {% else %}
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2000">
                <div class="carousel-inner">
                    {% for i, asset in value %}
                        <div class="carousel-item {{ i==0 ? 'active' : '' }}">
                            {{ _self.render(asset, options) }}
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}