{% extends "fields/_field" %}

{% block content %}
    {% for entry in value %}
        {% if options.displayAsButton %}
            {% include "_components/button" with {
                size: options.size,
                outlined: options.outlined,
                color: options.color,
                label: options.label == 'title' ? entry.title : options.label,
                newTab: options.newTab,
                link: entry.url
            } only %}
        {% else %}
            <a href="{{ entry.url }}" {% if options.newTab %}target="_blank"{% endif %} class="link-{{ options.color }}">
            {{ options.label == 'title' ? title : options.custom }}
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}