{% set static = static ?? false %}
{% set fade = fade ?? true %}
{% set id = id ?? ('modal-' ~ random(1000, 9999)) %}
{% set keyboard = keyboard ?? true %}
{% set scrollable = scrollable ?? false %}
{% set vcentered = vcentered ?? false %}
{% set size = size ?? false %} {# xl lg or sm #}
{% set fullscreen = fullscreen ?? false %} {# true, sm, md, lg, xl or xxl #}
{% if fullscreen %}
    {% if fullscreen is same as (true) %}
        {% set fullscreen = 'modal-fullscreen' %}
    {% else %}
        {% set fullscreen = 'modal-fullscreen-' ~ fullscreen ~ '-down' %}
    {% endif %}
{% endif %}

<div class="modal{% if fade %} fade{% endif %}" tabindex="-1"
    {% if id %}id="{{ id }}"{% endif %}
    {% if static %}data-bs-backdrop="static"{% endif %}
    {% if not keyboard %}data-bs-keyboard="false"{% endif %}
    aria-hidden="true"
>
    <div class="modal-dialog{% if scrollable %} modal-dialog-scrollable{% endif %}{% if vcentered %} modal-dialog-centered{% endif %}{% if size %} modal-{{ size }}{% endif %}{% if fullscreen %} {{ fullscreen }}{% endif %}">
        <div class="modal-content">
            <div class="modal-header">
                {% block modal_header %}
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                {% endblock %}
            </div>
            <div class="modal-body">
                {% block modal_body %}
                {% endblock %}
            </div>
            <div class="modal-footer">
                {% block modal_footer %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
