{% set position = position ?? 'start' %} {# start, end, top or bottom #}
{% set id = id ?? ('offcanvas-' ~ random(1000, 9999)) %}
{% set body_scrolling = body_scrolling ?? false %}
{% set body_backdrop = body_backdrop ?? true %}
{% set label_id = label_id ?? (id ~ '-label') %}

<div class="offcanvas offcanvas-{{ position }}" 
    tabindex="-1"
    aria-labelledby="{{ label_id }}"
    id="{{ id }}"
    {% if not body_backdrop %}data-bs-backdrop="false"{% endif %}
    {% if body_scrolling %}data-bs-scroll="true"{% endif %}
>
    <div class="offcanvas-header">
        {% block offcanvas_header %}
            <h5 class="offcanvas-title" id="{{ label_id }}">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        {% endblock %}
    </div>
    <div class="offcanvas-body">
        {% block offcanvas_body %}
        {% endblock %}
    </div>
</div>