{% set fade = fade ?? true %}
{% set show = show ?? true %}
{% set id = id ?? ('toast-' ~ random(1111, 9999)) %}
{% set message = message ?? 'Hello, world! This is a toast message.' %}

<div class="toast{% if fade %} fade{% endif %}{% if show %} show{% endif %}"
    role="alert" 
    aria-live="assertive" 
    aria-atomic="true"
    id="{{ id }}"
>
    <div class="toast-header">
        {% block toast_header %}
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        {% endblock %}
    </div>
    <div class="toast-body">
        {% block toast_body %}
            {{ message }}
        {% endblock %}
    </div>
</div>